/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.alert-danger{
  margin-bottom: 0!important;
}

.mat-checkbox-inner-container {
  height: 30px!important;
  width: 30px!important;
  margin:0!important;
}

.mat-checkbox{
  color: rgb(0,178,0)!important;
  margin:0!important;
}

.searchbar{
  border-radius: 5em!important;
  padding: 1.4em!important;
}

.searchbutton{
  border-radius:50%!important;
  margin-left: 1em;
  width: 40px;
  height: 40px;
}

.mat-autocomplete-panel {
  border-radius: 1em!important;
}

.mat-icon{
  vertical-align: center;
  float: right;
  margin-top: 5px;
}

.equis {
  margin-top: 0.5em;
  color: #c4c4c4;
}



