/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.alert-danger{
  margin-bottom: 0!important;
}

.mat-checkbox-inner-container {
  height: 30px!important;
  width: 30px!important;
  margin:0!important;
}

.mat-checkbox{
  color: rgb(0,178,0)!important;
  margin:0!important;
}




