@import '~bootstrap/dist/css/bootstrap.min.css';
.mainAlert{
  margin-top: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.card-body{
  padding: 0!important;
}

.card-complete{
  border-radius: 0;
  margin: 0 0 2px 0!important;
  border-left-width: 0;
  border-right-width: 0;
}

.hidden{
  display: none;
  transition: 1s;
}

.title{
  font-family: 'Merienda', cursive;
}

.checkboxdiv{
  position: relative;
}

.checkbox{
  position: absolute;
  top: 55% ;
  transform: translateY(-50%);
}

.grid{
  display: grid;
  grid-template-columns: 35px auto 7em;

  //Márgenes de estética al cuerpo
  margin-left: 1em;
  padding: 0.5em!important;
}

.main-empty {
  text-align: center;
  color: #d5dde4;
  /* Centramos el div en el centro de la pantalla */
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.p-text {
  font-size: 22px;
  font-family: 'Courgette', cursive;
}

.p-icon > i{
  font-size: 50px;
}

.productname{
  margin: 0;
  font-size: 22px;
  font-family: 'Catamaran', sans-serif;
}

.product-info{
  margin-left: 1.5em;
}

.product-supermarket{
  margin: 0;
  font-size: 12px;
  color: #b0b0b0;
}

.product-price{
  margin: 0;
  font-size: 12px;
  color: #b0b0b0;
}

.container{
  position: relative;
}

.product-icons{
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 15px;
  font-size: 30px;
  // Centramos los iconos al centro (.container en relative)
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.product-icons > div{
  left: 1em;
  text-align: right;
  color: #373737;
}

.gridfilter{
  display: grid;
  grid-template-columns: auto auto;
}

.ordenado{
  margin-top: 0.5em;
  color: #b0b0b0;
}

.mat-button-toggle-group{
  margin-left: 1em;
}

// Separador de compra
.list-supermarket {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 1em;
  margin-top: 1em;
  margin-right: 1em;
}
.list-supermarket::before, .list-supermarket::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #cfcfcf;
}
.list-supermarket::before {
  margin-right: .25em;
}
.list-supermarket::after {
  margin-left: .25em;
}


