<app-navbar></app-navbar>
<div>
  <div class="container-data">
    <div class="product-title">
      <h2>{{producto}}</h2>
    </div>
  </div>

  <div>
    <div class="data">
      <label class="label-text" for="nombre">Nombre del producto:</label><br>
      <input required type="text" id="nombre" name="nombre" value={{producto}}><br>
      <label class="label-text" for="precio">Precio del producto:</label><br>
      <input type="number" id="precio" name="precio" placeholder=""><br>
      <label class="label-text" for="super">Supermercado de preferencia:</label><br>
      <input type="text" id="super" name="super" placeholder=""><br><br>
      <input type="submit" value="Submit" (click)="getItem()">
    </div>
  </div>
</div>
